body{
    margin: 0;
}


#goblin-screen{
    background-image: url("./images/goblin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}