body{
    margin: 0;
}


#title-screen{
    background-image: url("./images/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#start-button{
    display: flex;
    padding: 0;
    color: rgb(255, 0, 0);
    border: 1px solid red;
    width: 70px;
    cursor: pointer;
}