
body{
    background-image: url("./images/clouds.jpg");
}

#start-button{
    display: flex;
    color: white;
    align-items: center;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    width: 70px;
    justify-content: center;
}